<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/capacitacion.css">
    <title>Document</title>
</head>

<body>
    <section id="app" class="flex-container" >
        <ul v-for="curso in cursos">
            <a :href="'./docs/' + curso.link">
            <article class="card">
                



                <article class="ribbon-container">
                    <span id="ribbon-finalizado">{{curso.estado}}</span>
                </article>
                <img v-bind:src="'./img/' + curso.imagen" /> 
                
                <h5 id="h5">{{curso.nombre}}</h5>
            </a>
        </ul>


        <!-- 
        <ul v-for="curso in cursos">
            <article class="card">

                <article class="ribbon-container">
                    <span id="ribbon-finalizado">{{estado}}</span>
                </article>
                <img v-bind:src="'./img/' + imagen" /> 
    
                <h5 id="h5">{{curso}}</h5>
            {{ imagen }}    
        </ul>
         -->
        
        


        </article>

    </section>

   

    <!---
                <article class="card">
            <a id="link" href="./docs/intro-posco.pdf" , target="_blank">
                <article class="card">
                    <article class="ribbon-container">
                        <span id="ribbon-finalizado">Finalizado</span>
                    </article>
                    <img src="./img/introposco.png" alt="Intro a la poscosecha">
                    <h5 id="h5">Introducción a la poscosecha</h5>
            </a>
        </article>
    -->
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/cursos.js"></script>

</html>