@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style: none;
}

body
{
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}



header{
    background-color: rgb(240, 240, 240);
    z-index: 20;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  header .logo{
    margin: 0;
    padding: 25px 30px;
  
  }
  
  header .logo img{
    height: 100px;
    width: 100px;
  }
  
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
  }
  
  header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  header a:hover{ 
    color: rgb(165, 42, 42);
  }

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
        0deg,
        rgba(121, 0, 0, 0.5),
        rgba(55, 1, 1, 0.5)
    )
    ,url(../img/planmta-piloto-head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#quienessomos{
    background-color: rgb(240, 240, 240);

}

#quienessomos .container{
    text-align: center;
    padding: 200px 12px;
}

#contactar .container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
/*
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center .card{
    position: relative;
    width: 350px;
    height: 190px;
    background: #eaeaea;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;

}

.card:hover{
    height: 450px;
}

.imgbx{
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imgbx{
    width: 250px;
    height: 250px;
}

.imgbx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}

.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;

}

.card .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
} */

.mapa   {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(237, 236, 236);
}

.mapa h2 {
    font-size: 2em;
    color: #555;
    text-align: center;
}

footer{
    margin-top: 50px;
    height: 250px;
    
}


#footer_info{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

footer section{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer section p{

    margin: 0;
}

footer nav{
    
    display: flex;
    justify-content: space-evenly;
    /*font-weight: bold;
    color: black;
    font-size: 1.40em;*/

}

#footer_links{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

footer section ul{
    padding: 0;
}


footer nav a{

    text-decoration: none;
    color: black;
}

footer nav a .rrss{
    margin-top: 25px;
}

i{

    font-size: 1.5rem;
}

footer nav a:hover{
    color: brown

}

footer nav a:focus{
    color: brown
}



#copyright{
margin-top: 20px;
text-align: center;

}




@media (min-width: 720px){
    header {
        flex-direction: row;
        justify-content: space-around;
      }
    
      header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
      }

    #quienessomos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quienessomos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #quienessomos.container .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ), url("../img/tecleando.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 50%;
    }

}



@media screen and (min-width:424px) {
    header ul{
        column-gap: 1rem;

    }

    #footer_info {
        flex-direction: row;
    }
    
}