@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* Header */


header {

  z-index: 20;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .logo {
  margin: 0;
  padding: 25px 30px;

}

header .logo img {
  height: 100px;
  width: 100px;
}

header nav a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color:#1B8CA6;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: rgb(165, 42, 42);
}

/*Body*/

/*Título principal*/

.title{
  z-index: 19;
  color: #F2F2F2;
  padding: 70px 15px 150px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #1B8CA6, #02734A);;
  border-bottom: #02734A solid 10px;
  float:center;
}

.imagen{
display: flex ;
margin:auto;
margin-top: -140px;
border: #F2F2F2 10px solid;
border-radius: 10px;
}

/*Primer párrafo*/

#text_one{
  text-align: justify;
  margin: 2rem 20rem;
  background-color: #1B8CA6;
  color:#F2F2F2;
  padding: 3rem;
  ;
}


#subs{
  margin: auto;
}
#sub1{
 text-align: center;
 margin-top: 1rem;
}

h4 #sub{
  text-align: center;
 
}
#sub1{
  
  font-size: 1rem;
}
.sub2{

  font-weight: bold;
  font-size: 1.2rem;
}
ul{
  text-align: left;
}
.listas{

  margin: auto;

}
.listas2{

  text-align:left;
} 

.title_red{
  border-radius: 10px;
  box-shadow: 2rem;
  margin: 15px;
  color:black;
  font-size: 1.5rem;
  text-align: center;
}
.contenido p{
  text-align: center;
  font-size: 1rem;
}
#colabo{
  margin: 1rem;
}

img{
  width: 100%;
  background-size: 0.5rem;

}
#carouselExample{
  height: 100%;
   width: 340px;
  display: flex;
  margin: auto;
}

/*        Footer            */

#quienessomos {
  background-color: rgb(240, 240, 240);

}

#quienessomos .container {
  text-align: center;
  padding: 200px 12px;
}

#contactar .container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.containercolab{
  margin: auto;
 
    margin: auto;
    width: 150px;
}

.container img{
  width: 1rem;
}

footer {
  z-index: 0;
  padding-top: 25px;
  background-color: white;
  height: 250px;
  padding: 0.5rem;
  text-align:justify;
  font-size: 0.9rem;
}

#footer_info {

  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

footer section {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer section p {

  margin: 0;
}

footer nav {
  display: flex;
  justify-content: space-evenly;
}

#footer_links {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

footer section ul {
  padding: 0;
  text-decoration: none;
  list-style: none;
}



footer nav a {

  text-decoration: none;
  color: black;
}

footer nav a .rrss {
  margin-top: 25px;
}

i {

  font-size: 1.5rem;
}

footer nav a:hover {
  color: brown
}

footer nav a:focus {
  color: brown
}



#copyright p {
  margin-top: 20px;
  text-align: center;

}

#carouselExampleIndicators{
  width: 500px;
  margin: auto;
}








@media screen and (min-width:720px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  .imagen { 
  margin-top: -120px;
  margin: auto;
  height: 10%;
  width: 10%;
  }

  #head_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }

  #subs {
    text-align: center;
    font-weight: bold;
  }

  .listas {

    width: 40rem;
    list-style-position: outside;
  }

  .listas2 {
    text-align: center;
    list-style-type: none;
  }

  #carouselExample {
    height: 100%;
    width: 340px;
    margin: auto;
  }
  .containercolab{
    margin: auto;
    height: 100%;
  }

  .container img{
    width: 50px;
    height: 100%;
  }
  .containercolab{
    margin: auto;
    width: 290px;
    display: flex;
    justify-content: center;
  }

  .container img{
    width: 50px;

  }
  footer{
    font-size: 1rem;
  }
}

@media screen and (min-width:1100px) {
  #carouselExample {
    height: 100%;
    width: 340px;
    margin: auto;
  }
  .containercolab{
    margin: auto;
    width: 290px;
    display: flex;
    justify-content: center;
  }

  .container img{
    width: 50px;

  }

  footer{
    font-size: 1rem;
  }
}

@media screen and (min-width:720px) {
  .containercolab{
    width: 90px;
  }

  .container img{
    width: 50px;

  }
  .imagen{
    width: 90%;
    margin-top:-100px;
  }

  footer{
    font-size: 1rem;
  }
}

/* Ajuste de Pantalla menor a 720px */


@media screen and (min-width:424px) {
  header ul {
    column-gap: 1rem;

  }
  
  footer{
    font-size: 1rem;
  }

}
